<!-- 页面基础布局 -->
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>全民星-后台管理</title>

  <!--<link rel="icon" type="image/x-icon" href="" />-->
  
  <!-- bootstrap -->
  <link rel="stylesheet" href="../../libs/ace/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../libs/ace/font-awesome/css/font-awesome.min.css">

  <!-- text font -->
  <link rel="stylesheet" href="../../libs/ace/css/fonts.googleapis.com.css">
  <link rel="stylesheet" href="../../libs/ace/css/ace-skins.min.css" />
  <link rel="stylesheet" href="../../libs/ace/css/ace-rtl.min.css" />
  <!-- ace style-->
  <link rel="stylesheet" href="../../libs/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

  <!--[if lte IE 9]>
  <link rel="stylesheet" href="../../libs/ace/css/ace-part2.min.css" class="ace-main-stylesheet" />
  <link rel="stylesheet" href="../../libs/ace/css/ace-ie.min.css" />
  <![endif]-->

  <!-- ace settings handler -->
  <script src="../../libs/ace/js/ace-extra.min.js"></script>
  <!--[if lte IE 8]>
	<script src="../../libs/ace/js/html5shiv.min.js"></script>
	<script src="../../libs/ace/js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="no-skin">




  
  <!-- ace base script -->
  <script src="../../libs/ace/js/jquery-3.3.1.min.js"></script>
  <script src="../../libs/ace/js/bootstrap.min.js"></script>

  <!-- vue -->
  <script src="../../libs/vue/vue.js"></script>
  <script src="../../libs/vue/vue-router.js"></script>

  <!--[if IE]>
  <script src="../../libs/ace/js/jquery-1.11.3.min.js"></script>
  <![endif]-->

  <script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write(
      "<script src='../../libs/ace/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
  </script>

  <!-- ace  script-->
  <script src="../../libs/ace/js/ace-elements.min.js"></script>
  <script src="../../libs/ace/js/ace.min.js"></script>

  <!-- 图片或视频上传 -->
  <script src="https://file.qmxpower.com/scripts/file.js"></script>

  <!-- page script -->
  <script>
    
  </script>

</body>
</html>