.align-top {
  align-self: flex-start;
}

.edit-content {
  padding: 30px;
}

.edit-content .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.edit-content .info-left {
  width: 20%;
  padding-right: 15px;
}
.edit-content .info .label-txt {
  text-align: right;
}

.edit-content .require-icon {
  padding: 0 2px;
  color: #f00;
  font-weight: bold;
}

.edit-content .input {
  width: 250px;
}

.edit-content #imgs {
  display: inline-block;
}

.imgs .img-empty, .imgs img, video {
  width: 375px;
  height: 200px;
}
.imgs .img-empty {
  border: 1px solid #eee;
  background-color: #f5f5f5;
}

.edit-content .img-label {
  vertical-align: top;
}

.imgs .choose-img {
  margin: 10px 0;
}
.edit-content .detail-item {
  padding: 0 0 15px  0;
}
.edit-content .detail-item img {
  margin: 0 30px 0 0;
}
.edit-content .detail-item span {
  padding: 0 10px 0 0;
}

.edit-content .img-tips {
  /* padding: 5px 0 0 120px; */
}

.edit-btns {
  padding: 0 0 0 30%;
}

.edit-btns .btn {
  margin: 6px;
}

.checkbox-groups {
  padding: 0 30px 0 0;
}

.detail-operate {
  display: inline-block;
}
.detail-operate-item {
  margin: 15px 0;
}